body {
    background-color: black;
    font-family: 'Jost', sans-serif;
    margin: 0;
}
.main {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.img-link {
    text-decoration: none;
    margin: 0;
    display: block;
    box-sizing: border-box;
    height: 500px;
}

.img-link .main-img-overlay:hover {
    background: rgba(10, 10, 10, 0.5);
}

.art {
    position: relative;
    color: white;
    font-size: 32px;
    line-height: 36px;
    margin-left: 40%;
    top: 76;
    z-index: 1010;
    transition: .1s;
}
.main-img {
    position: relative;
    top: -32;
    width: 100%;
    height: 500px;
    background-image: url("../img/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
}
.main-img-overlay {
    position: relative;
    width: 100%;
    height: 500px;
    background: rgba(0,0,0,0.55);
    transition: .3s;
}

.title {
    color: white;
    text-align: center;
    font-size: 2.75em;
    line-height: 1.25em;
    margin-bottom: 1em;
}
.heroes {
    box-sizing: border-box;
    padding: 20px 0px 0px 0px;
    width: 100%;
    background-color: black;
    
}
.border {
    box-sizing: border-box;
    padding: 20px 28px 20px 28px;
    margin: 0 auto;
    margin-bottom: 24px;
    width: 70%;
    border: solid white 4px;
}
.line {
    border-bottom: solid white 3px;
}
.story {
    color: white;
    font-size: 24px ;
    text-align: justify;
    width: 70%;
    margin: auto; 
    margin-top: 24px;
}

.list-heroes {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.button {
    box-sizing: border-box;
    padding: 12px 0px 12px 4px;
    width: 44vw;
    height: auto;
    line-height: 36px;
    color: white;
    font-size: 28px;
    text-align: center;
}
.button p {
    margin: 0;
}
.link-button {
    text-decoration: none;
}
.button:hover {
    color: black;
    background-color: white;
    transition-duration: .3s;
}
.pare {
    box-sizing: border-box;
    padding: 0px 60px 0px 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 12px;
}
@media screen and (max-width: 768px) {
    .pare {
      flex-direction: column;
      margin: 0 auto;
      margin-bottom: 12px;
      padding: 0;
    }
    .pare .link-button {
        width: 100%;
    }
    .pare .button {
        width: 100%;
    }
    .pare a {
        margin: auto;
        width: 100%;
    }
    .border {
        padding: 16px 16px 16px 16px;
        width: 100%;
    }
    .art {
        font-size: 28px;
        line-height: 32px;
        margin-left: 16%;
    }
    .link-button:first-child {
        margin-bottom: 12px;
    }
    .story {
        margin: 0;
        width: 100%;
    }
    .heroes {
        width: 90%;
		margin: auto;
        padding: 20px 0px 0px 0px;
    }
  }
footer {
    width: 70%;
    box-sizing: border-box;
    padding: 16px 0px 24px 0px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: black;
    margin: auto;
    margin-top: 28px;
}
@media screen and (max-width: 768px) {
    footer {
        width: 90%;
    }
}
.copy {
    color: white;
    margin-top: 20px;
    font-size: 24px;
}